<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:/comp/env/jdbc/test"/>
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
                <property name="username" value="postgres"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="GroupsMapper.xml"/>
        <mapper resource="PremissionsMapper.xml"/>
        <mapper resource="RolePremissionMapper.xml"/>
        <mapper resource="RolesMapper.xml"/>
        <mapper resource="UserGroupMapper.xml"/>
        <mapper resource="UserRoleMapper.xml"/>
        <mapper resource="UsersMapper.xml"/>

    </mappers>
</configuration>

