<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <display-name>Servlet</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Group</servlet-name>
        <servlet-class>ru.grand.edu.GroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Group</servlet-name>
        <url-pattern>/ru.grand.edu.GroupServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>ru.grand.edu.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/ru.grand.edu.UserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Premission</servlet-name>
        <servlet-class>ru.grand.edu.PremissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Premission</servlet-name>
        <url-pattern>/ru.grand.edu.PremissionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Role</servlet-name>
        <servlet-class>ru.grand.edu.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Role</servlet-name>
        <url-pattern>/ru.grand.edu.RoleServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserGroup</servlet-name>
        <servlet-class>ru.grand.edu.UserGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserGroup</servlet-name>
        <url-pattern>/ru.grand.edu.UserGroupServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RolePremission</servlet-name>
        <servlet-class>ru.grand.edu.RolePremissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RolePremission</servlet-name>
        <url-pattern>/ru.grand.edu.RolePremissionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRole</servlet-name>
        <servlet-class>ru.grand.edu.UserRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRole</servlet-name>
        <url-pattern>/ru.grand.edu.UserRoleServlet</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>postgreSQL Datasource example</description>
        <res-ref-name>jdbc/test</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
